<h2>Flash Card Sets</h2>

<% if @groups.length === 0 %>
    <p>Click the 'Create New Set' link above to make your first flash card set!</p>
<% end %>

<% @groups.each do |group| %>
    <li><%= link_to group.title, group_path(group) %> | <%= group.description %> | <%= group.category.name %></li>
<% end %>