<h1>New Group Form Page!</h1>
<!-- Form goes here... 
    include hidden_field :user_id so nested new group route knows where to get id 

    t.string "title" - text field
    t.string "description" - text field
    t.integer "category_id" - dropdown menu/autofill field (find_or_create_by)
    t.integer "user_id" - from the the params

    nested new cards form
    t.string "front" - text field
    t.string "back" - text field
    t.integer "group_id" - nested form

    button to add new card front/back fields
    button to submit
>