<h2>All Categories</h2>

<%= form_tag('/categories', method: :get) do %>
  <input type="text" name="search">
  <input type="submit" name="Submit">
<% end %>

<% @categories.each do |category| %>
<li><%= link_to category.name, category_path(category) %></li>
<% end %>
